<div id="about" class="section">
    <div class="content">
        <h1>Follow us</h1>
        <h2>Your support is precious</h2>
        <h3>Pick your platform of choice</h3>
        <div class="deck">
            <div class="card">
                <a href="https://twitter.com/playsthetic">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="card">
                <a
                    href="https://www.youtube.com/channel/UC9_9fD79DqRTZ2Y04G_p8iQ"
                >
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
            <!-- <div class="card">
                <a href="">
                    <i class="fab fa-discord"></i>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <i class="fab fa-steam"></i>
                </a>
            </div> -->
            <div class="card">
                <a href="https://github.com/playsthetic">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer">&copy; 2024 Playsthetic. All rights reserved.</div>
</div>

<style>
    .card {
        text-align: center;
    }

    .footer {
        border-top: #333333 solid 1px;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
    }
</style>
