<div id="splash" class="section">
    <div class="content">
        <h1>Playsthetic</h1>
        <h2>We make it, you play it</h2>
        <h3>Our design philosophy</h3>
        <div class="deck">
            <div class="card">
                <i class="fa-solid fa-ghost"></i>
                <h4>Retrofitting</h4>
                <p>
                    Video game history is rich and diverse. We explore the past
                    to build a better future.
                </p>
            </div>
            <div class="card">
                <i class="fa-solid fa-coins"></i>
                <h4>Pay to play</h4>
                <p>
                    No slot machines, no carrot keeping you running. We respect
                    your time like you do ours.
                </p>
            </div>
            <div class="card">
                <i class="fa-solid fa-baseball"></i>
                <h4>Throwing curves</h4>
                <p>
                    It's our role to be a step ahead and take things in a
                    direction your don't expect.
                </p>
            </div>
            <div class="card">
                <i class="fa-solid fa-handshake-slash"></i>
                <h4>No compromise</h4>
                <p>
                    We deliver a vision. We can't please everyone, but we can
                    make a few very happy.
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    h1 {
        background: -webkit-linear-gradient(45deg, #5eff55, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
