---
interface Props {
    title: string;
    body: string;
    href: string;
}

const { href, title, body } = Astro.props;
---

<!-- <nav class="head-nav">
            <h3>Playsthetic</h3>
        </nav> -->
<div class="container">
    <section id="splash"></section>
    <section id="montezuma"></section>
    <section id="punch"></section>
    <section id="swordfish"></section>
    <section id="about"></section>
</div>

<nav class="scroll-nav">
    <a href="#splash">Go to section 1</a>
    <a href="#montezuma">Go to section 1</a>
    <a href="#punch">Go to section 2</a>
    <a href="#swordfish">Go to section 3</a>
    <a href="#about">Go to section 4</a>
</nav>
